:root {
    // --color-black: #1E1E1E;
    // --color-white: #F8F8F8;
    // --color-primary-light: #D3D6FF;
    // --color-primary: #B0B4FF;
    // --color-primary-dark: #7E81D9;
    // --color-neutral: #FFE3B0;
    // --color-positive: #B4FFB0;
    // --color-negative: #FFB0B4;

    // #B0B4FF (cor base) - Um tom claro de azul lavanda.
    // #7E81D9 - Um tom mais escuro de azul que complementa a cor base.
    // #D3D6FF - Um tom mais claro de azul que funciona bem como um destaque suave.
    // #FFE3B0 - Um tom de laranja claro que cria um contraste agradável com o azul.
    // #B4FFB0 - Um tom claro de verde, que também é complementar à cor base.
    // #FFB0B4 - Um tom de rosa suave que adiciona um toque de calor à paleta.
  }

$color-black: #1E1E1E;
$color-grey-dark: #8B8B8B;
$color-grey: #D0D0D0;
$color-grey-light: #EBEBEB;
$color-white: #F8F8F8;

$color-primary-light: #D3D6FF;
$color-primary: #B0B4FF;
$color-primary-dark: #7E81D9;
$color-neutral: #FFE3B0;
$color-positive: #B4FFB0;
$color-negative: #FFB0B4;