<section class="login">
    <div class="login__form">
        <label class="login__form--title display-2"> Condo+ </label>

        <div class="container-fluid">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="txtLogin" class="form-control" />
                <label class="form-label" for="txtLogin">Email ou usuário</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <i id="showPassword" class="far fa-eye-slash trailing form_input--icon-eye form_input--icon-eye--active"></i>
                <input type="password" id="txtPassword" class="form-control" />
                <label class="form-label" for="txtPassword">Senha</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkRememberMe" checked />
                    <label class="form-check-label" for="chkRememberMe"> Lembrar de mim </label>
                </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Esqueceu a senha?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block"> Entrar </button>
        </div>
    </div>
</section>